.video-player {
    #ytPlayer {
        height: 240px;
        width: 320px;
        min-height: 200px;
        min-width: 200px;
    }
    .progress {
        width: 320px;
        margin: 0 auto 2px auto;
    }
}
