.classroom {
    .menu {
        margin-top: 2rem;

        .panel-body {
            padding: 0;
        }
    }
    .panel {
        border-width: 0;
        border-top-width: 0.8rem;
        border-bottom-width: 0.8rem;
    }
    .panel-heading {
        border-width: 0;
    }



    .center .panel {
        border-color: $yellow;
        margin-top: 1.3rem;
    }
    .center {
        margin-top: 2rem;
    }
}
