.insert-text {
    .uploadText {
        margin: 16px;

        .originalText {
            float: left;
            margin: 8px;
            white-space: pre;
            font-size: 14px;
            line-height: 24px;
        }
        .translatedText {
            width: 400px;
            display: block;
            margin: 8px;
            font-size: 14px;
            line-height: 24px;
            padding: 8px;
            min-height: 1000px;
        }
    }
}