<div class="video-player-container"></div>
<div>
    <ul class="nav nav-pills nav-stacked badges">
        <li><span class="badge unknown">{{unknownLyricsCount}}</span> words to study</li>
        <li><span class="badge learned">{{knownLyricsCount}}</span> words learned</li>
        <li><span class="badge other">{{otherLyricsCount}}</span> other words</li>
    </ul>
</div>
<div class="player-container"></div>