<div class="col-md-7">
    <div class="controls-container"></div>
    <div class="player-container"></div>
</div>
<div class="col-md-3">
    <div class="video-player-container"></div>
    <img src="../../../img/pencils.png" class="pencilIllustration">
</div>


