<div class="classroom">
    <div class="container-fluid">
        <div class="menu col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{data.name}} <a href="/classrooms/{{data.classroomId}}/edit" class="btn btn-primary btn-xs editClassroom" style="display:none;">edit</a></h4>
                </div> 
                <div class="mediaItemListContainer panel-body"></div>
            </div>
        </div>
        <div class="center"></div>
    </div>
</div>