<div class="panel panel-default col-lg-12">
    <div class="panel-heading"><h4>{{title}}</h4></div>
    <div class="panel-body">
        <ul>
            {{#each words}}
                <li class="col-lg-3">{{wordOrPhrase}}</li>
            {{/each}}
        </ul>
    </div>
</div>