<div class="panel col-lg-12">
    <div class="panel-heading">
        <h4>{{title}}</h4>
        {{#if link}}
        <a href="#{{link}}" class="btn btn-primary" title="Study">
            <span class="buttonText">Study</span>
        </a>
        {{/if}}
    </div>
    <div class="panel-body">
        {{#each words}}
            <span class="wordListWord">{{word}}</span>
        {{else}}
            No words in this list.
        {{/each}}
    </div>
</div>