.player {
    background-color: $bgMain;
    height: 100%;

    .subtitlesContainer {
        position: relative;
        overflow: hidden;

        .spinner {
            margin-top: 128px;
        }
    }
    .controlsContainer {
        text-align: center;
        padding: 16px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $bgMain;
        border-top: $borderNormal;
        z-index: 5;
    }
    .instructions {
        font-size: 14px;
        padding: 12px;
        color: $textSubdued;
    }
    
}