.player {
    position: relative;

    .subtitlesContainer {
        height: 480px;
        padding: 0 32px;
        border-bottom: $borderNormal;
        position: relative;
        overflow: hidden;

        .spinner {
            margin-top: 128px;
        }
    }
    .instructions {
        font-size: 14px;
        padding: 12px;
        color: $textSubdued;
    }
}