<div class="container">
    <div class="menu col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{data.name}} <a href="/classrooms/{{data.classroomId}}/edit" class="btn btn-primary btn-xs">edit</a></h4>
            </div> 
            <div class="mediaItemListContainer panel-body"></div>
        </div>
    </div>
    <div class="center col-lg-6"></div>
    <div class="dictionaryContainer col-lg-3"></div>
</div>