/node_modules/
.DS_Store
/client/bower_components
/client/lib
/client/optimized
/test/screenshots
.sass-cache
dist
.tmp
.editorconfig
/client/styles/main.css
.env
_SpecRunner.html
.grunt/
npm-debug.log