.subtitlesScroller {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;

    .viewport {
        height: 480px;
        overflow: hidden;
    }
    .noSubtitles {
        margin-top: 16px;
    }
    .subtitles li {
        font-size: 18px;
        line-height: 24px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 16px;
        color: $textSubdued;
    }
    .subtitles li.selected {
        font-size: 32px;
        line-height: 40px;
        color: $textNormal;
    }

    .subtitles li.selected .translated-subtitle {
        color: #005D8A;
    }
    .subtitles li .translated-subtitle {
        color: #2879A0;
    }
    .subtitles a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .timestamp {
        color: #FF0000;
        margin-left: 12px;
    }
}