.subtitlesScroller {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    height: 390px;
    margin-top: 8px;

    .noSubtitles {
        padding: 0 16px;
    }
    .subtitles {
        padding: 0 16px;
    }
    .subtitles li {
        font-size: 18px;
        line-height: 32px;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px;
        color: $textSubdued;
        border-radius: 15px;
    }
    .subtitles li a {
        color: $textSubdued;
    }
    .subtitles li.selected {
        color: $textNormal;
        background-color: $bgHighlight;
        box-shadow: $textSubdued 1px 1px 3px;
        border: $borderNormal;
    }
    .subtitles li.selected a {
        color: $textNormal;
    }

    .subtitles li.selected .translated-subtitle {
        color: #005D8A;
    }
    .subtitles li .translated-subtitle {
        color: #2879A0;
        color: #58A1C4;
    }
    .subtitles a {
        text-decoration: none;
    }
    .subtitles a:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $textNormal;
    }
    .timestamp {
        color: #FF0000;
        margin-left: 12px;
    }
}