.subtitlesScroller {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    height: 384px;
    margin: 40px 0;

    .noSubtitles {
        padding: 0 16px;
    }
    .subtitles {
        padding: 0 16px;
    }
    .subtitles li {
        font-size: 24px;
        line-height: 32px;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px;
        color: $textSubdued;
        border-radius: 15px;
    }
    .subtitles li.selected {
        color: $textNormal;
        background-color: $bgHighlight;
    }

    .subtitles li.selected .translated-subtitle {
        color: #005D8A;
    }
    .subtitles li .translated-subtitle {
        color: #2879A0;
        color: #58A1C4;
    }
    .subtitles a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .timestamp {
        color: #FF0000;
        margin-left: 12px;
    }
}