<div class="header">
    <div class="searchContainer"></div>
    <div class="title">
        <span class="titleText">studyokee</span>
        <span class="subtitle"> powered by Rdio®</span>
    </div>
</div>
<div class="main">
    <div class="menu">
        <div class="suggestionsContainer"></div>
    </div>
    <div class="centerRight">
        <div class="playerContainer"></div>
        <div class="rdioLink"></div>
    </div>
    
    <div class="disclaimersContainer"></div>
</div>