<div class="header">
    <div class="searchContainer"></div>
    <div class="title">
        <span class="titleText">studyokee</span>
    </div>
</div>
<div class="main">
    <div class="menu">
        <div class="suggestionsContainer"></div>
    </div>
    <div class="playerContainer"></div>
</div>