<div class="header">
    <div class="settingsContainer"></div>
    <div class="title">
        <span class="titleText"></span>
    </div>
</div>
<div class="main">
    <div class="menu">
        <div class="suggestionsContainer"></div>
        <div class="addSongContainer"></div>
    </div>
    <div class="playerContainer"></div>
</div>