<div class="header">
    <div class="leftHeader">
        <a class="openMenu">
            <div class="icon"></div>
        </a>
    </div>
    <div class="title">
        <span class="titleText">studyokee</span>
        <span class="subtitle"> powered by Rdio®</span>
    </div>
</div>
<div class="main">
    <div class="overlay">
        <div class="close">×</div>
        <div class="overlayBody"></div>
    </div>
    <div class="menu">
        <div class="searchContainer"></div>
        <div class="suggestionsContainer"></div>
    </div>
    <div class="centerRight">
        <div class="playerContainer"></div>
    </div>
</div>