<div class="panel-heading">
    <h4>Dictionary</h4>
</div>
<div class="panel-body">
    <div class="lookup">
        {{#with dictionaryResult }}
            <b>"{{word}}"</b>
            <div>
                <p>
                    <b>{{def}}</b>,&nbsp;<i class="wordType">{{part}}</i>
                </p>
                <p><b>ex.</b> {{example}}</p>
            </div>
        {{/with}}
    </div>
</div>