<div class="panel-heading">
    <h4>Dictionary</h4>
</div>
<div class="panel-body">
    <div class="lookup">
        {{#with dictionaryResult }}
            <p><b>"{{word}}"</b></p>
            <div>
                <p>
                    <b>{{def}}</b>{{#if part}},&nbsp;<i class="wordType">{{part}}</i>{{/if}}
                </p>
                {{#if example}}<p><b>ex.</b> {{example}}</p>{{/if}}
            </div>
        {{/with}}
    </div>
</div>