.dictionary {
    .close {
        display: none;
    }
    .input-group {
        margin-bottom: 8px;
    }
    ul.definitions {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        padding-bottom: 8px;
    }
    ul.examples {
        padding-left: 20px;
    }
    .wordType {
        font-size: 0.85em;
    }
    .toggleSearch {
        margin-top: 17px;
        margin-right: 4px;
        float: right;
    }
    .search {
        margin-bottom: 32px;
    }
}