.suggestions {
    margin: 0 4px;

    h3 {
        color: $textSubdued;
        font-size: 14px;
        font-weight: normal;
        line-height: 40px;
        vertical-align: top;
        margin: 0 8px;
    }

    .songListContainer {
        position: relative;
        min-height: 64px;

        .spinner {
            margin-top: 32px;
        }
    }
}