.suggestions {
    margin: 8px 4px;

    h3 {
        color: $textSubdued;
        font-size: 14px;
        font-weight: normal;
        margin: 4px 8px;
    }

    .songListContainer {
        position: relative;
        min-height: 64px;

        .spinner {
            margin-top: 32px;
        }
    }
}