.suggestions {
    margin: 8px;

    ul {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
    }
    li {
        margin-top: 4px;
    }
    a {
        cursor: pointer;
    }
    .artist {
        font-style: italic;
        font-size: 12px;
        color: #999;
    }
}