<div class='gradient'></div>
<ul class='subtitles list-group'>
    {{#each data}}
        <li class='subtitle list-group-item'>
            <div class='original-subtitle'>
                {{{original}}}
                {{#if ../showTimestamps}}<span class="timestamp">{{ts}}</span>{{/if}}
            </div>
            <div class="rollover-mask">
                <span class="rollover-text">{{{translation}}}</span>
            </div>
            <button type="button" class="in-english btn btn-link">
                <span class="button-text">ENGLISH</span>
            </button>
        </li>
    {{/each}}
</ul>