<ul class='subtitles'>
    {{#each data}}
        <li class='subtitle'>
            <div class='original-subtitle'>
                {{#each original}}
                    <a class='lookup'>{{{this}}}</a>
                {{/each}}
                {{#if ../showTimestamps}}<span class="timestamp">{{ts}}</span>{{/if}}
            </div>
            <div class='translated-subtitle'>
                {{{translation}}}
            </div>
        </li>
    {{/each}}
</ul>
