<!doctype html>
<html>
    <head>
        <title>Studyokee</title>
        <script type="text/javascript">
           if (window.location.hash === '#_=_') {
               window.location.hash = ''
           }
        </script>
        <script src="/bower_components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-paper.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    <body>
        <div class="skee" id="skee">
            <header></header>
            <div class="main container"></div>
            <footer class="container"></footer>
        </div>
        <div id="data-dom" data-user-id="<%= user.id %>" data-user-admin="<%= user.admin %>" data-user-first-name="<%= user.firstName %>" style="display:none"></div>

        <script src="<%= page %>"></script>
    </body>
</html>