<!doctype html>
<html>
    <head>
        <script src="/bower_components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    </head>
    <body>
        <div class="skee" id="skee"></div>
        <script src="/lib/edit-songs.js"></script>
    </body>
</html>