<!doctype html>
<html>
    <head>
        <script src="/bower_components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Studyokee: <small class="text-muted">learning with pop songs</small></a>
            </div>
        </div>

        <div class="skee container" id="skee"></div>
        <div id="data-dom" data-id="<%= id %>"></div>
        <div id="api"></div>
        <script src="<%= page %>"></script>
    </body>
</html>
