<!doctype html>
<html>
    <head>
        <script type="text/javascript">
           window.loadStartTime = new Date().getTime();
        </script>
        <script src="/bower_components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    <body>
        <div class="skee" id="skee"></div>
        <div id="api"></div>
        <script src="/lib/main.js"></script>
    </body>
</html>
