<!doctype html>
<html>
    <head>
        <script src="/bower_components/requirejs/require.js"></script>
        <script src="/lib/require-config.js"></script>

        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    <body>
        <div class="skee" id="skee"></div>
        <div id="data-dom" data-rdioKey="<%= rdioKey %>" data-toLanguage="<%= toLanguage %>"></div>
        <div id="api"></div>
        <script src="/lib/upload.js"></script>
    </body>
</html>
