<div>
    <h3>{{title}}</h3>
    <button class="saveText">Save</button>
</div>
<div class="uploadText">
    <div class="originalText">{{original}}</div>
    <textarea class="translatedText" wrap="off">{{translation}}</textarea>
</div>