.classroom {
    .menu {
        border-bottom: 3px solid darken($gray-light, 10);
    }
    .menuContent {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        
        h2 {
            margin: 0;
            color: $gray-dark;
            display: inline-block;
        }
        .titleDescription {
            display: inline-block;
            height: 40px;
            text-transform: uppercase;
            vertical-align: top;
        }
    }
    
    .dictionary, .subtitles-scroller {
        border-bottom: 5px solid $gray-dark;
        padding-bottom: $padding-md;
    }
    
    .panel-heading {
        border-width: 0;
    }
    .center {
        margin-top: 2rem;
    }
    .mediaItemLink {
        cursor: pointer;
    }
    .mediaItemLink:hover {
        background-color: darken($gray-light, 10);
    }
    .dropdown {
        float: right;
    }
    .dropdown-toggle {
        max-width : 100%;
        padding-right: $padding-md;
    }
    .dropdown-toggle .classTitle {
        max-width : 100%;
        overflow:hidden;
        display:inline-block;
        white-space: nowrap;
        vertical-align: middle;
    }
    .dropdown-menu {
        width: 400px;
    }
    .video-player-container {
        text-align: center;
        margin-bottom: 1rem;
    }

    .subtitles-scroller {
        height: 30rem;

        .translated-subtitle {
            visibility: hidden;
        }
    }
    .subtitles-scroller.show-translation .translated-subtitle {
        visibility: visible;
    }
    .badge.unknown {
        background-color: $unknownColor;
    }
    .badge.learned {
        background-color: $knownColor;
    }
    .badges li {
        display: inline-block;
        padding: 8px 16px;
    }
    .pencilIllustration {
        width: 100%;
        margin-top: $padding-sm;
    }
    .progress {
        width: 320px;
        margin: 0 auto 2px auto;
        height: 12px;
        margin-bottom: 6px;
    }
    @media (max-width: $screen-sm-min) {
        .menuContent {
            h2 {
                font-size: $font-size-large;
                height: 40px;
                vertical-align: middle;
            }
            .songSelection {
                text-align: left;
            }
        }
        .subtitles-scroller {
            height: 18rem;
            margin: $padding-sm 0;

            .translated-subtitle {
                display: none;
            }
            .list-group-item .original-subtitle {
                margin-bottom: 0;
            }
        }
        .subtitles-scroller.show-translation {
            height: 27rem;
            .translated-subtitle {
                display: block;
            }
            .list-group-item .original-subtitle {
                margin-bottom: 1em;
            }
        }
        .dictionaryContainerWrapper {
            display: none;
            position: fixed;
            top: 100px;
            left: 0;
            z-index: 2;
            width: 100%;
            
            .dictionaryContainer {
                margin: $padding-sm;
                border: 3px solid #ccc;
                background: #fff;
            }

            .close {
                margin-top: $padding-lg;
                margin-right: $padding-lg;
                font-size: 32px;
            }
        }
        .container {
            padding: 0;
        } 
        
        .titleContainer {
            float: none;
        }
        .songSelection {
            float: none;
        }
        .dropdown-menu {
            width: 100%;
        }
    }
}
