.classroom-preview {
    h3 {
        border-bottom: 4px solid $yellow;
        padding-top: 0;
    }

    .panel {
        height: 21rem;
        margin: 1rem;
    }
    .hasMoreItems {
        font-size: 1.5rem;
    }
    
    .mediaItem {
        font-size: $font-size-small;
    }
}
