.subtitles-scroller {
    overflow: hidden;
    position: relative;
    font-size: 1.4rem;
    margin: $padding-md;
    
    .glyphicon-refresh {
        text-align: center;
        width: 100%;
        padding: 100px;
        font-size: 60px;
    }

    .list-group-item {
        border: 3px solid transparent !important;
        border-top: 3px solid transparent !important;
        text-align: center;
        padding: 1rem;
        background-color: $gray-lighter;

        .original-subtitle {
            height: 2rem;
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            border-bottom: 0.2rem solid transparent;
            display: inline-block;
            color: $gray-dark;
        }
        a.known {
            border-color: $knownColor;
        }
        a.unknown {
            border-color: $unknownColor;
        }
        a:hover, a:active {
            color: $gray-darker;
        }
    }
    .list-group-item.active {
        background-color: $gray-light;
        border: 3px solid darken($gray-light, 10) !important;
        border-top: 3px solid darken($gray-light, 10) !important;
    }

    .no-subtitles {
        padding: 1rem;
        text-align: center;
    }
    .subtitles li {
        overflow: hidden;
        white-space: nowrap;
    }
    @media (max-width: $screen-sm-min) {
        font-size: $font-size-small;
    }
}