.addSong {
    margin: 8px;

    input {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        border: none;
        padding: 4px 8px;
        line-height: 24px;
        font-size: 14px;
    }

    .acContainer {
        height: 0;
    }
}