<div class="login">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
              <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                  <label for="username" class="col-lg-3">User Name</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="username" placeholder="User Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-lg-3">Password</label>
                  <div class="col-lg-9">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
            <a href="/signup" class="open-signup">Register New User</a>
        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="mask" style="display:none;">
    Logging In...
    </div>
    <div style="clear: both;"></div>
</div>
