<div class="center-cropped icon">
    <img src="{{data.icon}}"/>
</div>
<div class="content">
    <div class="title">
        {{data.title}}
    </div>
    <div class="description">
        <em>{{data.description}}</em>
    </div>
</div>