<div class="step-buttons text-center">
    <!--<button type="button" class="toStart btn btn-primary" title="To Start">
        <span class="glyphicon glyphicon-step-backward"></span>
    </button>-->
    <button type="button" class="prev btn btn-info" title="Previous">
        <span class="glyphicon glyphicon-step-backward"></span>
        <span class="buttonText hidden-xs">PREV LINE</span>
    </button>
    <button type="button" class="toggle-play btn btn-primary" title="Toggle Play">
        <span class="glyphicon glyphicon-refresh {{#if playing}}glyphicon-pause{{else}}glyphicon-play{{/if}}"></span>
    </button>
    <button type="button" class="next btn btn-info" title="Next">
        <span class="buttonText hidden-xs">NEXT LINE</span>
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <a tabindex="0" class="btn btn-link infoBubble hidden-xs" role="button" data-toggle="popover" data-trigger="focus" title="Keyboard Controls" data-html="true" data-content="<div>Play/Pause:&nbsp;&nbsp;<kbd>space</kbd></div><div>Prev Line:&nbsp;&nbsp;<kbd>←</kbd></div><div>Next Line:&nbsp;&nbsp;<kbd>→</kbd></div>"><span class="glyphicon glyphicon-info-sign"></span></a>

    <!--<button type="button" class="toggle-presentation-mode btn btn-primary" title="Enter Presentation Mode">
        <span class="glyphicon glyphicon-resize-full"></span>
    </button>
    <button type="button" class="toggle-video btn btn-primary" title="Toggle Video">
        <span class="glyphicon glyphicon-collapse-up"></span>
    </button>
    <button type="button" class="toggle-translation btn btn-primary" title="Hide Translation">
        <span class="glyphicon glyphicon-eye-close"></span>
    </button>-->
    <a href="#" class="btn btn-info toggle-translation">
        <span class="buttonText hidden-xs">Hide English</span>
        <span class="glyphicon glyphicon-eye-open visible-xs-inline"></span>
    </a>
</div>