<div class="step-buttons text-center">
    <button type="button" class="prev btn btn-info" title="Previous Line">
        <span class="glyphicon glyphicon-step-backward"></span>
        <span class="buttonText hidden-xs">PREV LINE</span>
    </button>
    <button type="button" class="toggle-play btn btn-primary" title="Toggle Play">
        <span class="glyphicon glyphicon-refresh {{#if playing}}glyphicon-pause{{else}}glyphicon-play{{/if}}"></span>
    </button>
    <button type="button" class="next btn btn-info" title="Next Line">
        <span class="buttonText hidden-xs">NEXT LINE</span>
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <a tabindex="0" class="btn btn-link infoBubble hidden-xs" role="button" data-toggle="popover" data-trigger="focus" title="Keyboard Controls" data-html="true" data-content="<div>Play/Pause:&nbsp;&nbsp;<kbd>space</kbd></div><div>Prev Line:&nbsp;&nbsp;<kbd>←</kbd></div><div>Next Line:&nbsp;&nbsp;<kbd>→</kbd></div>"><span class="glyphicon glyphicon-info-sign"></span></a>
    <button class="btn btn-info toggle-translation hidden-xs" title="Toggle Translation">Hide English</button>
    <button class="btn btn-info toggle-translation visible-xs-inline-block uk flag" title="Toggle Translation">
    </button>
</div>