html, body {
    margin: 0;
    background: $bgMain;
    color: $textNormal;
    font-family: Lucida Grande,Lucida Sans Unicode,Arial,sans-serif;
}
ul {
    list-style: none;
    padding-left: 0;
}
.hidden {
    display: none;
}
.close {
    position: absolute;
    top: 0;
    right: 6px;
    color: $textSubdued;
    font-size: 18px;
    padding: 12px;
}
.close:hover {
    cursor: pointer;
}

.mainPage {
    min-width: 640px;

    .header {
        border-bottom: $borderNormal;
        box-shadow: 0 0 5px 0 $bgHighlight;
        height: 50px;

        .searchContainer {
            position: absolute;
            margin-left: 16px;
        }
        .title {
            text-align: center;
        }
        .titleText {
            font-size: 28px;
            line-height: 50px;
        }
    }

    .main {
        margin-top: 1px;
        width: 800px;

        .menu {
            float: left;
            width: 240px;
            height: 618px;
        }

        .playerContainer {
            margin-left: 240px;
            border-left: $borderNormal;
            border-bottom: $borderNormal;
            border-right: $borderNormal;

            .controlsContainer {
                text-align: center;
            }
        }
    }
}