html, body {
    margin: 0;
    background-color: $bgHighlight;
    color: $textNormal;
    font-family: Lucida Grande,Lucida Sans Unicode,Arial,sans-serif;
}
ul {
    list-style: none;
    padding-left: 0;
}
.hidden {
    display: none;
}
.close {
    position: absolute;
    top: 0;
    right: 6px;
    color: $textSubdued;
    font-size: 18px;
    padding: 12px;
}
.close:hover {
    cursor: pointer;
}

.mainPage {
    min-width: 640px;
    background-color: $bgMain;

    .header {
        border-bottom: $borderNormal;
        box-shadow: 0 0 5px 0 $bgHighlight;
        height: 50px;

        .searchContainer {
            display: inline-block;
        }
        .title {
            text-align: center;
            margin-left: 240px;
        }
        .titleText {
            font-size: 28px;
            line-height: 50px;
        }
        .subtitle {
            font-size: 12px;
            line-height: 50px;
            color: $textSubdued;
        }
        .leftHeader {
            position: absolute;
            margin-left: 16px;
        }
        .settingsContainer {
            display: inline-block;
        }
    }

    .main {
        position: relative;
        border-bottom: $borderNormal;

        .menu {
            float: left;
            width: 240px;
        }

        .centerRight {
            margin-left: 240px;
            margin-right: 120px;

            .playerContainer {
                border-left: $borderNormal;
                border-right: $borderNormal;

                .controlsContainer {
                    text-align: center;
                    padding: 16px;
                    height: 85px;
                }
            }

            .rdioLink {
                position: absolute;
                top: -1px;
                right: 0;
            }
        }
    }

    .disclaimersContainer {
        padding: 16px;
        padding-top: 32px;
        background-color: $bgHighlight;
    }
    .disclaimers {
        color: $textSubdued;
        padding-bottom: 16px;
        font-size: 12px;
        clear: both;
    }
}