html, body {
    margin: 0;
    color: $textNormal;
    font-family: Lucida Grande,Lucida Sans Unicode,Arial,sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
.hidden {
    display: none;
}
.close {
    position: absolute;
    top: 0;
    right: 6px;
    color: $textSubdued;
    font-size: 18px;
    padding: 12px;
}
.close:hover {
    cursor: pointer;
}
.mobileMainPage {
    background-color: $bgMain;

    .header {
        border-bottom: $borderNormal;
        box-shadow: 0 0 5px 0 $bgHighlight;
        height: 50px;
        background-color: #202020;
        color: $textSubdued;

        .title {
            text-align: center;
            margin-left: 40px;
        }
        .titleText {
            font-size: 24px;
            line-height: 50px;
            color: #C8CBCE;
        }
        .subtitle {
            font-size: 11px;
            line-height: 50px;
        }
        .leftHeader {
            position: absolute;
            margin-left: 16px;

            .icon {
                height: 34px;
                width: 34px;
                margin: 8px 0;
                text-decoration: none;
                cursor: pointer;
                background-size: 34px 34px;
                background-image: url($img + '/menu.png');
            }
        }
        .settingsContainer {
            display: inline-block;
            line-height: 50px;
            font-size: 14px;
        }
    }

    .main {
        .overlay {
            height: 100%;
            width: 100%;
            z-index: 2;
            position: absolute;
            background-color: $bgMain;
            display: none;
        }

        .menu {
            position: absolute;
            width: 240px;
            height: 100%;
            z-index: 3;
            background-color: $bgMain;
            display: none;
            border: $borderNormal;

            .searchContainer {
                height: 50px;
                border-bottom: $borderNormal;
            }
        }

        .centerRight {
            height: 100%;

            .playerContainer {
                height: 100%;

                .controlsContainer {
                    background-color: $bgMain;
                    text-align: center;
                    padding: 16px 0;
                    height: 40px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}