.editSong {
    margin-top: 2em;
    
    .form-horizontal .control-label {
        padding-top: 0;
    }
    td:hover, textarea:hover {
        cursor: pointer;
        background-color: $gray-lighter;
    }
    table .control-label {
        padding-top: 0.5em;
    }
    legend .btn {
        margin-top: -7px;
        display: inline-block;
    }
}