.vocabulary-slider {
    margin-top: 1em;
    max-width: 600px;

    .step-buttons {
        margin: 10px;
        text-align: center;
    }
    
    .glyphicon-refresh {
        text-align: center;
        width: 100%;
        padding: 100px;
        font-size: 60px;
    }

    ul.cards {
        margin: 20px;
        padding: 0;
        .card {
            display: none;
            list-style: none;
            padding: 20px 40px 40px 40px;
        }
        .card.active {
            display: block;
        }

        > li {
            display: block;
            position: relative;
            padding: 0;

            a {
                min-height: 300px;
                overflow: hidden;
                white-space: normal;
            }
        }
        .definitions {
            li {
                text-align: left;
            }
        }
        .btn {
            width: 100%;
            padding: 50px;
        }
        .wordOrPhrase {
            font-size: 32px;
            margin-bottom: 12px;
            text-align: center;
        }
        .definitions {
            font-size: 18px;
        }
        .uses h4 {
            text-align: center;
        }
        .uses {
            padding: 16px;
            font-size: 14px;
            text-align: left;
        }
    }
    .noResults {
        text-align: center;
        margin: 40px;
    }
    
    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;
        position: relative;
    }
        /* flip the pane when button flip added */
        .flip-container.flip .flipper {
            transform: rotateY(180deg);
        }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 16em;
    }

    /* front pane, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }
    
    @media (max-width: $screen-sm-min) {
        min-height: 320px;
        margin-top: 0;
        
        ul.cards {
            margin: 0;
        }
    }
}
