.ac {
    position: relative;
    z-index: 2;
    width: 300px;
    top: 1px;

    .trackName {
        color: #FFF;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .artist {
        color: #999;
        font-size: 12px;
        font-style: italic;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    ul {
        margin: 0;
        border: 1px solid #FFF;
        border-bottom: none;
        background-color: #444;
        box-shadow: 5px 5px 5px #222;
    }
    li {
        border-bottom: 1px solid #FFF;
    }
    a {
        display: list-item;
        cursor: pointer;
    }
    a:hover, a:active {
        background-color: #222;
    }

    .media {
        padding: 8px;

        .icon {
            float: left;
            margin-right: 8px;
            display: block;
            height: 32px;
            width: 32px;
        }
    }
}