.controls {
    .progress-container {
        margin-bottom: 8px;
    }
    .progress {
        position: relative;
        overflow: visible;
        border-radius: 0;
        display: inline-block;
        margin-left: 80px;
        padding-top: 7px;
        background: transparent;

        .progress-bar {
            -webkit-transition: none; */
            -o-transition: none;
            /* transition: none; */
            height: 12px;
        }
        .progress-timer {
            position: absolute;
            font-size: 13px;
            left: 0;
            margin-left: -66px;
            line-height: 20px;
            line-height: 14px;
        }
    }
    .step-buttons {
        margin-left: 20px;
        margin-right: 20px;
    }
    .toggle-translation {
        float: right;
    }
    .btn-info.active {
        background-color: $gray-dark;
        color: $gray-lighter;
    }
    .popover {
        font-size: $font-size-small;
    }
    @media (max-width: $screen-sm-min) {
        .toggle-translation {
            position: initial;
        }
        .btn {
            min-width: 3.5em;
        }
    }
    .uk.flag {
        background-image: url(../../../../img/ukflag_small.png);
        background-repeat: no-repeat;
        padding: 0;
        width: 30px;
        height: 20px;
        min-width: 0;
        margin-top: 8px;
        border-radius: 0;
    }
    .uk.flag.active {
        opacity: 0.6;
    }
}
    
