header {
    .icon img {
        height: 24px;
        width: 24px;
        margin: 0 8px;
    }
    .languageIcon {
        display: inline-block;
        height: 16px;
        width: 18px;
        background-size: 18px 12px;
        vertical-align: middle;
        background-position: 0 2px;
        background-repeat: no-repeat;
    }
    .languageIcon.es {
        background-image: url('../img/esflag.png');
    }
    .languageIcon.fr {
        background-image: url('../img/frflag.png');
    }
    .languageIcon.de {
        background-image: url('../img/deflag.png');
    }
}