.header {
    border-bottom: $borderNormal;
    box-shadow: 0 0 5px 0 $bgHighlight;
    height: 50px;
    background-color: #202020;
    color: $textSubdued;

    .title {
        text-align: center;
    }
    .titleText {
        font-size: 28px;
        line-height: 50px;
        color: #C8CBCE;
    }
    .subtitle {
        font-size: 12px;
        line-height: 50px;
    }
    .leftHeader {
        position: absolute;
    }
    .settingsContainer {
        display: inline-block;
        z-index: 2;
        background-color: #202020;
        height: 50px

        .toggleMenu {
            padding: 15px 15px 14px 15px;
            text-decoration: none;
            cursor: pointer;
            display: none;

            .icon {
                height: 21px;
                width: 21px;
                background-image: url($img + '/menu.png');
                background-repeat: no-repeat;
                margin: 0 auto;
            }
        }
    }

    @media screen and (max-width: 880px) {
        .settingsContainer {
            .toggleMenu {
                display: inline-block;
            }
        }
    }
}