header {
    .navbar-brand {
        padding-right: 70px;
    }
    .brandName {
    }
    .icon img {
        height: 24px;
        width: 24px;
        margin: 0 8px;
    }
    .languageIcon {
        display: inline-block;
        height: 16px;
        width: 18px;
        background-size: 18px 12px;
        vertical-align: middle;
        background-position: 0 2px;
        background-repeat: no-repeat;
    }
    small {
        font-size: 0.5em;
        margin-left: -55px;
        margin-top: 20px;
        position: absolute;
    }
    .languageIcon.es {
        background-image: url('../img/esflag_small.png');
    }
    .languageIcon.fr {
        background-image: url('../img/frflag_small.png');
    }
    .languageIcon.de {
        background-image: url('../img/deflag_small.png');
    }
    .languageIcon.it {
        background-image: url('../img/itflag_small.png');
    }
    .languageIcon.pt {
        background-image: url('../img/ptflag_small.png');
    }
    .badge {
        background-color: #2196f3;
        margin-top: -1px;
    }
    .badge.throb {
        animation: shadowThrob 0.9s 1;
        animation-direction: alternate;
        -webkit-animation: shadowThrob 0.9s ease-out 1;
        -webkit-animation-direction: alternate;
    }
    @keyframes shadowThrob {
        from {box-shadow: 0 0 0 0 rgba(190,190,190, 0.9);}
        to {box-shadow: 0 0 30px 10px rgba(190,190,190, 0.2);}
    }
    @-webkit-keyframes shadowThrob {
        from {box-shadow: 0 0 0 0 rgba(190,190,190, 0.9);}
        to {box-shadow: 0 0 30px 10px rgba(190,190,190, 0.2);}
    }
}