<div class="classrooms col-lg-12">
    <h3>Select a classroom</h3>
    <div class="previewContainer">
        <ul class="nav nav-pills classroomPreviewViews"></ul>
    </div>
    <div class="paginationContainer paginationContainerBottom"></div>
</div>