.rdioMain {
    background-color: $bgMain;
    position: relative;

    .menu {
        background-color: $bgMain;
        width: 240px;
        position: absolute;
        top: 0;
        left: 0;
        border-right: $borderNormal;
        height: 100%;
    }

    .centerRight {
        margin-left: 240px;
        border-right: $borderNormal;

        .playerContainer {
            border-right: $borderNormal;
            margin-right: 240px;
        }

        .dictionaryContainer {
            position: absolute;
            right: 0;
            top: 0;
            width: 240px;
            height: 100%;
            overflow: auto;
            z-index: 3;
            height: 100%;
            background-color: $bgMain;
        }
    }

    @media screen and (max-width: 880px) {
        .menu {
            display: none;
            z-index: 2;
        }
        .menu.active {
            display: block;
        }
        
        .centerRight {
            margin-left: 0;
            border-right: none;

            .playerContainer {
                margin-right: 0;
            }
            .dictionaryContainer { 
                display: none;

                .close {
                    display: block;
                }
            }
            .dictionaryContainer.active { 
                display: block;
                width: 100%;
            }
        }
    }
}