.youtubeMain {
    height: 648px;

    .videoPlayerContainer {
        height: 295px;
        text-align: center;
    }

    .subtitlesScroller {
        height: 272px;

        .subtitles li {
            line-height: 24px;
        }
    }
}