.vocabulary {
    li {
        display: block;
        position: relative;
        width: 480px;
        height: 320px;
    }
    .definition {
        overflow-y: scroll;
    }
    .btn {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .wordOrPhrase {
        font-size: 32px;
        line-height: 320px;
    }
    .definitions {
        font-size: 18px;
    }
    .uses h4 {
        text-align: center;
    }
    .uses {
        padding: 16px;
        font-size: 14px;
        text-align: left;
    }
    .remove {
        top: 8px;
        position: absolute;
        right: 16px;
        opacity: 1;
        color: #fff;
        font-weight: 400;
        font-size: 40px;
        background: transparent;
        border: none;
        display: inline-block;
        padding: 8px;
    }
    .remove:hover {
        color: #cc0000;
        text-shadow: none;
    }
}