.vocabulary {
    > li {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        width: 600px

        a {
            min-height: 300px;
            overflow: hidden;
            white-space: normal;
        }
    }
    .definitions {
        li {
            text-align: left;
        }
    }
    .btn {
        width: 100%;
        padding: 50px;
    }
    .wordOrPhrase {
        font-size: 32px;
        margin-bottom: 12px;
    }
    .definitions {
        font-size: 18px;
    }
    .uses h4 {
        text-align: center;
    }
    .uses {
        padding: 16px;
        font-size: 14px;
        text-align: left;
    }
    .remove {
        top: 8px;
        position: absolute;
        right: 16px;
        opacity: 1;
        font-size: 16px;
        background: transparent;
        border: none;
        display: inline-block;
        padding: 8px;
    }
    .wordOrPhrase .remove {
        color: #fff;
    }
    .remove:hover {
        text-decoration: underline;
    }
}