<div class="video-player-container">
    <div class="video-container" id="ytPlayer"></div>
    <div class="controls-container"></div>
</div>
<button type="button" class="toggleSync btn" ></button>
<div class="subtitles-container"></div>