<div class="vocabulary-page container">
    <div class="col-lg-3 panel panel-default vocabularyStats">
        <div class="panel-heading"><h4>Vocabulary</h4></div>
        <div class="panel-body">
            <div class="vocabularyMetricsContainer"></div>
            <div class="vocabularyBtns">
              <a href="#" class="btn btn-primary addNext">Add Next 50</a>
              <div class="importWordsContainer"></div>
            </div>
            <div class="vocabularyMapContainer"></div>
        </div>
    </div>
    <div class="col-lg-9 vocabularyContentContainer"></div>
</div>