<div class="vocabulary-page">
    <div class="col-lg-3 panel panel-default vocabularyStats">
        <div class="panel-heading"><h4>Vocabulary</h4></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#" class="vocabLink unknown"><span class="badge">{{unknown.length}}</span> words to study</a></li>
                <li><a href="#" class="vocabLink known"><span class="badge learned">{{known.length}}</span> words learned</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 vocabularyContentContainer"></div>
</div>