<div class="vocabulary-page">
    <div class="col-lg-2 panel panel-default vocabularyStats">
        <div class="panel-heading"><h4>Vocabulary</h4></div>
        <div class="panel-body">
            <div>
                <p><span class="badge">{{unknownCount}}</span> being studied</p>
            </div>
            <div>
                <p><span class="badge learned">{{knownCount}}</span> learned</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8 vocabularySliderContainer"></div>
    <div class="col-lg-2"></div>
</div>