<div class="step-buttons">
    <button type="button" class="prev btn btn-primary" title="Previous">
        <span class="buttonText"><span class="glyphicon glyphicon-step-backward"></span> PREV</span>
    </button>
    <button type="button" class="remove btn btn-primary" title="Remove Card">I know this!</button>
    <button type="button" class="next btn btn-primary" title="Next">
        <span class="buttonText">NEXT <span class="glyphicon glyphicon-step-forward"></span></span>
    </button>
</div>

<div class="toStudy">
    <ul class="cards panel panel-default">
        {{#each words}}
            <li class="card panel-body">
                <div class="wordOrPhrase">{{word}}</div>
                <div class="definitions" {{#unless ../showDefinition}}style="visibility:hidden;"{{/unless}}>
                    <p>
                        <b>{{def}}</b>,&nbsp;<i class="wordType">{{part}}</i>
                    </p>
                    <p><b>ex.</b> {{example}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
</div>