<div class="container">
    <form class="bs-example col-lg-12">
        <fieldset>
            <legend>Edit Suggestions from "{{fromLanguage}}" to "{{toLanguage}}"</legend>
            <div class="form-group col-lg-6">
                <label class="control-label">Add Song</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="songToAdd" placeholder="Song Id">
                    <span class="input-group-btn">
                        <button class="btn btn-default add" type="button">Add</button>
                    </span>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="songListContainer col-lg-6"></div>
</div>