<div class="classroom">
    <div class="container menu">
        <div class="col-md-12 menuContent">
            <div class="titleContainer text-center col-md-6">
                <h2>
                    {{classroom.name}}
                    <a href="/classrooms/{{classroom.classroomId}}/edit" class="btn btn-info btn-xs editClassroomButton" style="display:none;">edit</a>
                </h2>
            </div>
            <div class="text-right col-md-6">
                <div class="dropdown songSelection">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="classTitle">{{currentSong.metadata.trackName}} by {{currentSong.metadata.artist}}</span>&nbsp;<span class="caret"></span>
                    </button>
                    <div class="mediaItemListContainer dropdown-menu dropdown-menu-right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="center container">
        <div class="col-md-8">
            <div class="controls-container"></div>
            <div class="player-container"></div>
        </div>
        <div class="col-md-4">
            <div class="video-player-container hidden-xs"></div>
            <div class="dictionaryContainerWrapper">
                <button type="button" class="close visible-xs-block" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="dictionaryContainer"></div>
            </div>
            <img src="../../../img/pencils.png" class="pencilIllustration hidden-xs">
            <span class="visible-xs-block bg-warning">Studyokee uses Youtube videos to play songs and will consume data accordingly.</span>
        </div>
    </div>
</div>