<div>
    <button class="syncPlay">Play</button>
    <button class="syncPrev">Prev</button>
    <button class="syncNext">Next</button>
    <button class="save">Save</button>
</div>
<div class="syncScroller"></div>