<div class="leftHeader">
    <div class="settingsContainer">
        <a class="toggleMenu">
            <div class="icon"></div>
        </a>
    </div>
</div>
<div class="title">
    <span class="titleText">studyokee</span>
    <span class="subtitle"> powered by Rdio®</span>
</div>