<ul class='subtitles list-group col-md-12'>
    {{#each subtitles}}
        {{#if @first}}
        <div class="insertBefore text-center">
            <button type="button" class="openInsert btn btn-primary" title="Insert line before">
                Insert line&nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <div class="input-group insertLine" style="display:none;">
                <input type="text" class="form-control toAdd" placeholder="Line to insert..." autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-info addLine" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
        {{/if}}
        <li class="subtitle list-group-item" data-index="{{@index}}">
            <span class="subtitle-timestamp label label-default">{{ts}}</span>
            <div class="original-subtitle">
                <span class="subtitle-text">{{{text}}}</span>
            </div>
            <div class="input-group updateLine" style="display:none;">
                <input type="text" class="form-control toAdd" placeholder="Line to insert..." autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-primary addLine" type="button">
                        Save
                    </button>
                </span>
            </div>
            <button type="button" class="edit action btn btn-primary btn-sm" title="Edit Line">edit</button>
            <button type="button" class="remove action close" title="Remove Line">×</button>
        </li>
        {{#if @first}}
        <div class="insertAfter text-center">
            <button type="button" class="openInsert btn btn-primary" title="Insert line after">
                Insert line&nbsp;<span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <div class="input-group insertLine" style="display:none;">
                <input type="text" class="form-control toAdd" placeholder="Line to insert..." autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-info addLine" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>
        {{/if}}
    {{/each}}
</ul>