.video-player {
    #ytPlayer {
        height: 320px;
        width: 480px;
        min-height: 200px;
        min-width: 200px;
    }
    .progress {
        width: 320px;
        margin: 0 auto 2px auto;
        height: 12px;
        margin-bottom: 6px;
    }
}
