.vocabulary-map {
    line-height: 4px;

    span {
        width:2px;
        height:4px;
        display:inline-block;
        background-color: #cae6fc;
    }
    span.known {
        background-color: $knownColor;
    }
    span.unknown {
        background-color: $unknownColor;
    }
}