<ul class="nav nav-pills nav-stacked">
    {{#each mediaItems}}
        <li data-index="{{@index}}" data-id="{{song._id}}">
            <a class="mediaItemLink"></a>
            <button type="button" class="view action btn btn-primary btn-xs title="Edit Song">edit</button>
            <button type="button" class="remove action close" title="Remove Song">×</button>
        </li>
    {{/each}}
    {{#if hasMoreItems}}
        <li class="hasMoreItems">...</li>
    {{/if}}
</ul>
