<ul class="readonlyMediaItemList">
    {{#each mediaItems}}
        <li data-index="{{@index}}">
            <span class="mediaItemLink"></span>
        </li>
    {{/each}}
    {{#if hasMoreItems}}
        <li class="hasMoreItems">...</li>
    {{/if}}
</ul>