.rdioPlayer {
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;

    h3 {
        color: $textSubdued;
        display: inline-block;
        font-size: 14px;
        line-height: 40px;
        vertical-align: top;
        margin: 0;
        font-weight: normal;
    }

    .mediaItemContainer {
        display: inline-block;
        width: 100%;
    }
}