.controls {
    .progress {
        position: relative;
        overflow: visible;
        border-radius: 0;

        .progress-bar {
            -webkit-transition: none; */
            -o-transition: none;
            /* transition: none; */
        }
        .progress-timer {
            position: absolute;
            font-size: 16px;
            left: 0;
            margin-left: -80px;
            line-height: 20px;
        }
    }
}