.dictionary {
    .input-group {
        margin-bottom: 8px;
    }
    ul.definitions {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        padding-bottom: 8px;
    }
    ul.examples {
        padding-left: 20px;
    }
    .wordType {
        font-size: 0.85em;
    }
    .glyphicon-refresh {
        text-align: center;
        width: 100%;
        padding: 20px;
    }
}