.dictionary {
    .input-group {
        margin-bottom: 8px;
    }
    ul.definitions {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        padding-bottom: 8px;
    }
    ul.examples {
        padding-left: 20px;
    }
    .wordType {
        font-size: 0.85em;
    }
    .glyphicon-refresh {
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    iframe {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    .panel-body {
        padding: 0;
    }
    .lookup, .explanation, .lookupEmbed {
        padding: 0 1rem;
    }
    #makeCardModal textarea {
        width: 100%;
        height: 8rem;
        padding: 1rem;
    }
    .makeCard {
        float: right;
    }
    h4 {
        line-height: 40px;
    }
    
    @media (max-width: $screen-sm-min) {
        .makeCard {
            margin-right: 20px;
        }
    }

}