<div>
    <div>
        Rdio key: {{id}}&nbsp;&nbsp;&nbsp;
        Translation: {{toLanguage}}
    </div>
    <div class="editContainer">
        <div class="subtitlesContainer"></div>
        <div class="translationContainer"></div>
    </div>
</div>