<div>
    Artist: {{artist}}&nbsp;&nbsp;&nbsp;
    Song: {{song}}&nbsp;&nbsp;&nbsp;
    Language: {{fromLanguage}}&nbsp;&nbsp;&nbsp;
    Translation: {{toLanguage}}

    <div>
        <button class="uploadOriginal">Upload Original Lyrics</button>
        {{#if hasOriginal}}X{{/if}}
    </div>
    <div>
        <button class="uploadTranslation">Upload Translation</button>{{#if hasTranslation}}X{{/if}}
    </div>
    <div>
        <button class="sync">Sync</button>
        {{#if hasSync}}X{{/if}}
    </div>

    <div class="uploadStage"></div>
</div>