<div>
    <div>
        Rdio key: {{id}}&nbsp;&nbsp;&nbsp;
        Translation: {{toLanguage}}
    </div>
    <a href="#" class="openEdit">Edit</a>&nbsp;&nbsp;&nbsp;<a href="#" class="openSync">Sync</a>
    <div class="editContainer">
        <div class="subtitlesContainer"></div>
        <div class="translationContainer"></div>
    </div>
    <div class="syncContainer" style="display:none;"></div>
</div>