<div class="classrooms container">
    <h2 class="text-center">Select a classroom...</h2>
    <div class="previewContainer">
        <div class="classroomPreviewViews"></div>
    </div>
    <div class="paginationContainer paginationContainerBottom"></div>
</div>
<div style="clear: both;"></div>