<div class="classrooms col-lg-12">
    <h2>Select a classroom</h2>
    <div class="previewContainer">
        <div class="classroomPreviewViews"></div>
    </div>
    <div class="paginationContainer paginationContainerBottom"></div>
</div>