.edit-classroom {
    .songSearchListContainer {
        position: absolute;
        z-index: 2;
        background: #fff;
        width: 300px;

        .mediaItemList {
            border: 1px solid #dce4ec;
        }
    }
    .addSongSection {
        .separatingText {
            padding: 0 16px;
        }
        .form-control {
            width: 300px;
        }
    }

}
