.edit-classroom {
    .songSearchListContainer {
        .mediaItemList {
            border: 1px solid #dce4ec;
        }
    }
    .addSongSection {
        .separatingText {
            padding: 0 8px;
        }
        .form-control {
            width: inherit;
        }
    }

}
