@import '../src/language-settings/language-settings';
@import '../src/subtitles-scroller/subtitles-scroller';
@import '../src/subtitles-player/subtitles-player';
@import '../src/subtitles-controls/subtitles-controls';
@import '../src/suggestions/suggestions';
@import '../src/add-song/add-song';
@import '../src/subtitles-upload/subtitles-upload/subtitles-upload';
@import '../src/subtitles-upload/subtitles-sync/subtitles-sync';
@import '../src/subtitles-upload/subtitles-insert-text/subtitles-insert-text';
@import '../src/subtitles-upload/edit-subtitles/edit-subtitles';
@import '../src/utilities/utilities';
@import '../src/song-list/song-list';
@import '../src/dictionary/dictionary';