@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
    font-family: 'GOVERNOR';
    font-style: normal;
    font-weight: normal;
    src: local('GOVERNOR'), url('../fonts/governor.ttf') format('ttf');
}