.main {
    background: $gray-lighter;
    padding-bottom: 8.5em;
}
@media (max-width: $screen-sm-min) {
    .main {
      padding-bottom: 1.5em;
    }
}
footer {
}

.btn {
    min-width: 4em;
    border-width: 0;
    text-transform: uppercase;
}
.btn-link {
    min-width: initial;
    color: $text-color;
}
.btn-link:hover, .btn-link:focus {
    color: darken($text-color,20);
}

html {
    font-size: 16px;
}

a, a:hover, a:focus {
  color: $gray-dark;
}

.panel {
  background-color: $gray-light;
  border: 3px solid darken($gray-light, 10) !important;
  border-top: 3px solid darken($gray-light, 10) !important;
  border-radius: 5px;
  padding: 16px 16px 32px 16px;
}
.panel-link:hover {
  border-color: darken($gray-light, 20);
  background-color: darken($gray-light, 5);
  cursor: pointer;
}
.navbar-collapse {
  border-top: 0;
  box-shadow: none;
}
.bg-warning {
  padding: $padding-sm $padding-md;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}