.main {
    min-height: 580px;
    background: $gray-darker;
    padding-bottom: 8.5em;
}
footer {
}

.btn {
    font-family: GOVERNOR, Open Sans, sans-serif !important;
    min-width: 4em;
    border-width: 0;
}

html {
    font-size: 16px;
}