$img = '../img'

$bgMain = #FFFFFF
$bgOverlay = #FFFFFF
$bgHighlight = #f0f2f4
$textNormal = #32393d
$textSubdued = #94999c
$textTranslation = #A63A37
$linkColor = #008fd5
$borderNormal = 1px solid #e1e6e9


@import '../src/main/main';
@import '../src/language-settings/language-settings';
@import '../src/subtitles-scroller/subtitles-scroller';
@import '../src/subtitles-player/subtitles-player';
@import '../src/subtitles-controls/subtitles-controls';
@import '../src/suggestions/suggestions';
@import '../src/add-song/add-song';
@import '../src/subtitles-upload/subtitles-upload/subtitles-upload';
@import '../src/subtitles-upload/subtitles-sync/subtitles-sync';
@import '../src/subtitles-upload/subtitles-insert-text/subtitles-insert-text';
@import '../src/utilities/utilities';
@import '../src/song-list/song-list';
