$img = '../img'

$bgMain = #FFFFFF
$bgOverlay = #FFFFFF
$bgHighlight = #f0f2f4
$textNormal = #32393d
$textSubdued = #94999c
$textTranslation = #A63A37
$linkColor = #008fd5
$borderNormal = 1px solid #e1e6e9

a {
    cursor: pointer;
}
.styClose {
    position: absolute;
    top: 0;
    right: 6px;
    color: $textSubdued;
    font-size: 18px;
    padding: 12px;
}
.styClose {
    margin-right: -48px;
    margin-top: 12px;
    font-size: 36px;
}
.styClose:hover {
    cursor: pointer;
}
.presentation-mode {
    .center {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 20px;
        z-index: 100;
        background-color: #FFFFFF;
        
        .youtube-main {
            .video-player-container {
                .video-player {
                    #ytPlayer {
                        width: 100%;
                    }
                }
            }

            .subtitles-scroller {
                height: 600px;

                .gradient {
                    z-index: 102;
                    height: 120px;
                }

                .subtitles li {
                    line-height: 48px;
                    font-size: 24px;
                }
            }
        }
    }
    footer {
        display: none;
    }
}
footer {
    margin: 5em 0;
}

@import '../src/youtube/youtube-main/youtube-main';
@import '../src/youtube/youtube-player/youtube-player';
@import '../src/youtube/youtube-sync/youtube-sync';
@import '../src/media-item/media-item';
@import '../src/media-item-list/media-item-list';
@import '../src/subtitles-scroller/subtitles-scroller';
@import '../src/add-song/add-song';
@import '../src/utilities/utilities';
@import '../src/dictionary/dictionary';
@import '../src/edit-classroom/edit-classroom';
@import '../src/home/home';
@import '../src/classroom-preview/classroom-preview';
@import '../src/subtitles-controls/subtitles-controls';
@import '../src/edit-song/edit-song';