$img = '../img'

$bgMain = #FFFFFF
$bgOverlay = #FFFFFF
$bgHighlight = #f0f2f4
$textNormal = #32393d
$textSubdued = #94999c
$textTranslation = #A63A37
$linkColor = #008fd5
$borderNormal = 1px solid #e1e6e9