.mediaItemList {
    background-color: $bgMain;
    
    .noItems {
        margin: 8px;
    }
    
    ul {
        margin: 0;
    }
    a {
        display: list-item;
        cursor: pointer;
    }
    a:hover, a:active {
        background-color: $bgHighlight;
        color: $linkColor;
    }

    .mediaItemLink {
        padding: 4px 8px;
    }
}