.mediaItemList {
    .noItems {
        padding: 8px;
    }
    .readonlyMediaItemList {
        list-style: none;
        padding-left: 0;

        li {
            padding-bottom: 8px;
        }
    }
}