.mediaItemList {
    .noItems {
        padding: 8px;
    }
    .readonlyMediaItemList {
        list-style: none;
        padding-left: 0;

        li {
            padding-bottom: 8px;
        }
    }
    .action {
        position: absolute;
        top: 0;
        right: 0;
        float: none;
    }
    .action.remove {
        margin-right: -96px;
        margin-top: -4px;
        font-size: 36px;
        line-height: 36px;
        color: $textSubdued;
        padding: 12px;
    }
    .action.view {
        margin-right: -48px;
        margin-top: 18px;
    }
    .action:hover {
        cursor: pointer;
    }
}