<a class="prev control">
    <div class="icon"></div>
</a>
<a class="play control" {{#if isPlaying}}style="display:none"{{/if}}>
    <div class="icon"></div>
</a>
<a class="pause control" {{#unless isPlaying}}style="display:none"{{/unless}}>
    <div class="icon"></div>
</a>
<a class="next control">
    <div class="icon"></div>
</a>