<div class="progress">
  <div class="progress-bar" style="width: 0;"></div>
</div>
<div class="btn-group">
    <button type="button" class="toStart btn btn-primary" title="To Start">
        <span class="glyphicon glyphicon-step-backward"></span>
    </button>
    <button type="button" class="prev btn btn-primary" title="Previous">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="toggle-play btn btn-primary" title="Toggle Play"">
        <span class="glyphicon {{#if playing}}glyphicon-pause{{else}}glyphicon-play{{/if}}"></span>
    </button>
    <button type="button" class="next btn btn-primary" title="Next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <button type="button" class="toggle-presentation-mode btn btn-primary" title="Enter Presentation Mode">
        <span class="glyphicon glyphicon-resize-full"></span>
    </button>
    <!--<button type="button" class="toggle-video btn btn-primary" title="Toggle Video">
        <span class="glyphicon glyphicon-collapse-up"></span>
    </button>-->
</div>