<div class="btn-group">
    <button type="button" class="prev btn btn-primary">⇤</button>
    <button type="button" class="play btn btn-primary">
        {{#if playing}}
            ||
        {{else}}
            →
        {{/if}}
    </button>
    <button type="button" class="next btn btn-primary">⇥</button>
</div>