<div class="option">
    Me: 
    <select class="toLanguage">
        {{#each toLanguages}}
            <option value="{{id}}">{{label}}</option>
        {{/each}}
    </select>
</div>
<div class="option">
    Learn: 
    <select class="fromLanguage">
        {{#each fromLanguages}}
            <option value="{{id}}">{{label}}</option>
        {{/each}}
    </select>
</div>