.home {
    text-align: center;
    font-family: Futura, Open Sans, sans-serif;;

    .panel {
        background-color: $lightGray;
    }

    .callout h2 {
        color: $lightGray;
        margin-top: 3.7rem;
        margin-bottom: 3.65rem;
        border-bottom: 0.4rem solid $yellow;
        padding-bottom: 0.65rem;
    }
    .highlights h3 {
        font-size: 1.2em;
        color: $lightGray;
        margin-top: 2em;
    }
    .callout {
        margin-bottom: 5.05rem;
    }
    .highlights .illustrationContainer {
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        background-color: $lightGray;
        display: inline-block;
        border: 0.4rem solid $gray;
    }
    .highlights .illustration {
        margin-top: 3rem;
        width: 10rem;
        height: 10rem;
        background-image: url(../../img/studyokee_icons.png);
        background-size: 100%;
        display: inline-block;
    }
    .highlights .illustration.musicVideo {
        background-position: 0 10rem;
    }
    .highlights .illustration.vocabBuilder {
        background-position: 0 20rem;
    }
    .highlights .illustration.metrics {
        background-position: 0 0;
    }
    .btn.callToAction {
        border: 0.3em solid $darkRed;
        padding: 0.5rem 1.5rem 0.15rem;
        font-size: 1.4em;
    }
}