.home {
    .title {
        text-align: center;
    }

    h1 {
        font-size: 4em;
    }

    .main {
        background-color: #fff;
    }

    .nav-pills {
        li {
            border-radius: 4px;
            margin: 0;
            padding: 0;

            .linkBg {
                background-repeat: no-repeat;
                background-size: 100% 100%;
                margin: 20px;
                border-radius: 8px;
                max-width: 300px;
            }

            a {
                background-color: rgba(255, 255, 255, 0.8);
                color: #333;
                border-radius: 0;
                height: 180px;
                line-height: 180px;
                display: inline-block;
                width: 100%;
                font-size: 3em;
            }
            a:hover {
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.5);
            }
            .es {
                background-image: url('../img/esflag.png');
            }
            .fr {
                background-image: url('../img/frflag.png');
            }
            .de {
                background-image: url('../img/deflag.png');
            }
            .it {
                background-image: url('../img/itflag.png');
            }
            .pt {
                background-image: url('../img/ptflag.png');
            }
        }
    }
}