.home {
    text-align: center;
    color: $gray-dark;

    .callout h2 {
        margin-top: 4rem;
        margin-bottom: 3.6rem;
        border-bottom: 0.4rem solid $yellow;
        padding-bottom: 0.6rem;
    }
    .highlights h3 {
        font-size: 1.2rem;
    }
    .callout {
        margin-bottom: 4.1rem;
    }
    .highlights .illustrationContainer {
        padding: 2rem;
        border-radius: 50%;
        background-color: $gray-light;
        display: inline-block;
    }
    .highlights .illustration {
        width: 10rem;
        height: 10rem;
        background-image: url(../../img/studyokee_icons.png);
        background-size: 100%;
        display: inline-block;
    }
    .highlights .illustration.musicVideo {
        background-position: 0 10rem;
    }
    .highlights .illustration.vocabBuilder {
        background-position: 0 20rem;
    }
    .highlights .illustration.metrics {
        background-position: 0 0;
    }
    .btn.callToAction {
        padding: 0.6rem 1.5rem 0.6rem;
        font-size: 1.2rem;
    }
    @media (max-width: $screen-sm-min) {
        .callout {
            margin-bottom: 0;
        }
        .callout h2 {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        .highlights h3 {
            margin-top: 2.5em;
        }
    }
}