.mediaItem {
    padding: 4px;
    display: inline-block;
    vertical-align: top;
    width: 300px;

    .icon {
        float: left;
        margin-right: 8px;
        display: block;
        height: 32px;
        width: 32px;
        border: none;
    }
    .trackName {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .artist {
        color: $textSubdued;
        font-size: 12px;
        font-style: italic;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}