.classroom-preview {
    cursor: pointer;
    color: $gray;
    
    .panel {
        height: 20rem;
        border: 0.4rem solid $gray;
        background-color: $gray-light;
    }
    .panel:hover {
        border-color: $gray-dark;
        background-color: $gray-lighter;
    }
    .hasMoreItems {
        font-size: 1.5rem;
    }
}
