.classroom-preview {
    cursor: pointer;
    color: $gray;
    
    .panel {
        height: 21rem;
        border: 0.8rem solid $gray;
        background-color: $gray-light;
        border-radius: 3rem;
        padding: 0.5rem;
        margin: 1.5rem;
    }
    .panel:hover {
        border-color: $gray-dark;
        background-color: $gray-lighter;
    }
    .hasMoreItems {
        font-size: 1.5rem;
    }
}
