.classroom-preview {
    cursor: pointer;
    color: $gray-dark;
    
    h3 {
        border-bottom: 4px solid $yellow;
        padding-top: 0;
    }

    .panel {
        height: 21rem;
        border: 4px solid $gray;
        background-color: $gray-light;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 1rem;
    }
    .panel:hover {
        border-color: $gray-darker;
        background-color: $gray-light;
    }
    .hasMoreItems {
        font-size: 1.5rem;
    }
    .mediaItem .title {
        color: $gray-dark;
    }
}
