.youtube-main {
    .video-player-container {
        text-align: center;
        margin-bottom: 1rem;
    }

    .subtitles-scroller {
        height: 29rem;

        .translated-subtitle {
            visibility: hidden;
        }
    }
    .subtitles-scroller.show-translation .translated-subtitle {
        visibility: visible;
    }
    .badge.unknown {
        background-color: $unknownColor;
    }
    .badge.learned {
        background-color: $knownColor;
    }
    .badges li {
        display: inline-block;
        padding: 8px 16px;
    }
    .pencilIllustration {
        width: 100%;
    }
    .progress {
        width: 320px;
        margin: 0 auto 2px auto;
        height: 12px;
        margin-bottom: 6px;
    }
    
}