.youtube-main {
    .video-player-container {
        text-align: center;
        margin-bottom: 15px;
    }

    .subtitles-scroller {
        height: 30rem;

        .subtitles li {
            line-height: 24px;
        }
        .translated-subtitle {
            visibility: hidden;
        }
    }
    .subtitles-scroller.show-translation .translated-subtitle {
        visibility: visible;
    }
    .badge.unknown {
        background-color: $unknownColor;
    }
    .badge.learned {
        background-color: $knownColor;
    }
    .badges li {
        display: inline-block;
        padding: 8px 16px;
    }
    .pencilIllustration {
        height: 220px;
        background: url("../../../img/pencils.png");
        background-size: 100%;
        width: 80%;
        margin-left: 2em;
    }
    .progress {
        width: 320px;
        margin: 0 auto 2px auto;
        height: 12px;
        margin-bottom: 6px;
    }
    
}