<div class="headerContainer"></div>
<div class="main">
    <div class="menu"></div>
    <div class="centerRight">
        <div class="center"></div>
        <div class="dictionaryContainer"></div>
    </div>
</div>
<div class="footerContainer"></div>