<div class="main">
    <div class="col-lg-12">
        <p class="col-lg-6">Studyokee is a tool to learn language through popular songs.  The songs are organized by classrooms divided by language and level.  Create classrooms, add songs, enjoy studying the songs!</p>
    </div>

    <div class="col-lg-12">
        <button class="btn btn-default createClassroom">New Classroom</button>

        <h3>Classrooms:</h3>
        <ul class="nav nav-pills col-lg-6">
            {{#each data}}
                <li>
                    <a class="classroomLink" data-index="{{@index}}">
                        <div class="title">
                            {{name}}
                        </div>
                        <div class="description text-muted">
                            <em>{{language}}</em>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="footerContainer">
    <p>Created by Erik Ulberg. 2014. Contact: ulberge@gmail.com</p>
</div>