<h4>Select a language</h4>
<ul class="nav nav-pills">
    {{#each supportedLanguages}}
        <li><a href="/{{language}}/en" data-index="{{@index}}" class="languageLink">{{display}}</a></li>
    {{/each}}
</ul>