<div class="home">
    <div class="title">
        <div class="container">
            <div class="row col-lg-12">
                <h3>What language are you learning?</h3>
                <ul class="nav nav-pills">
                    {{#each supportedLanguages}}
                        <li class="col-lg-4">
                            <div class="linkBg {{language}}">
                                <a href="/language/{{language}}/en" data-index="{{@index}}" class="languageLink">{{display}}</a>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>