<div class="dictionaryContainer"></div>
<div class="playerBodyContainer">
    <div class="currentSongContainer"></div>
    <div class="subtitlesContainer"></div>
    <div class="controlsContainer"></div>
</div>