{{#if enableEdit}}
    <button class="edit">Edit</button>
{{/if}}
<div class="subtitlesContainer"></div>
<div class="controlsContainer"></div>
<div class="dictionaryContainer">
    <a class="close">×</a>
    <div class="dictionaryResults"></div>
</div>