.subtitles-scroller {
    overflow: hidden;
    position: relative;
    font-size: 1.4rem;

    .list-group-item {
        border: none;
        text-align: center;
        padding: 1rem;
        background-color: $gray-lighter;

        .original-subtitle {
            height: 2rem;
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            border-bottom: 0.2rem solid transparent;
            display: inline-block;
            color: $gray-dark;
        }
        a.known {
            border-color: $knownColor;
        }
        a.unknown {
            border-color: $unknownColor;
        }
        a:hover, a:active {
            color: $gray-darker;
        }
    }
    .list-group-item.active {
        background-color: $gray-light;
    }

    .no-subtitles {
        padding: 1rem;
        text-align: center;
    }
    .subtitles li {
        overflow: hidden;
        white-space: nowrap;
    }
}