.subtitles-scroller {
    overflow: hidden;
    position: relative;
    font-size: 1.4em;

    .gradient {
        z-index: 4;
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;

        /* Gradient */
        background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1.0) 80%); /* For Safari and Chrome */
        background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1.0) 80%); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1.0) 80%); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1.0) 80%); /* Standard syntax */
    }

    .list-group-item.active {
        z-index: 2;
        color: #ffffff;

        a {
            color: #ffffff;
        }
        a:hover, a:active {
            color: #ffffff;
        }
        .translated-subtitle {
            color: #dddddd;
        }
    
    }
    .list-group-item {
        border: none;
        border-radius: 4px;
        text-align: center;
        padding: 12px 15px;

        .original-subtitle {
            height: 32px;
        }

        a {
            text-decoration: none;
            background-color: #e51c23;
            padding: 4px 10px;
            display: inline-block;
            color: #fff;
        }
        a.known {
            color: #666666;
            background-color: transparent;
            padding: 4px 2px;
        }
        a.unknown {
            background-color: $unknownColor;
        }
        a.unknown:hover, a.known:hover {
            opacity: 1;
            color: #fff;
        }
        a:hover {
            color: #2196f3;
        }
    }

    .no-subtitles {
        padding: 16px;
        text-align: center;
    }
    .subtitles li {
        overflow: hidden;
        white-space: nowrap;
    }
}