.editSong {
    .lyricsGrid {
        .notInDictionary {
            display: inline-block;
            padding: 1px 4px;
            background-color: #FF0000;
        }
        .inDictionary {
            display: inline-block;
            padding: 1px 4px;
            background-color: #00FF00;
        }
        .inResolutions {
            display: inline-block;
            padding: 1px 4px;
            background-color: #00FFFF;
        }
    }
}