<ul>
    {{#each songs}}
        <li>
            <a class="song {{#if selected}}selected{{/if}}" data-index="{{@index}}">
                <img class="icon" src="{{icon}}"/>
                <div class="content">
                    <div class="trackName">
                        {{name}}
                    </div>
                    <div class="artist">
                        {{artist}}
                    </div>
                </div>
            </a>
        </li>
    {{/each}}
</ul>