Suggestions: 
<ul>
    {{#each suggestions}}
        <li>
            <div>
                <a data-key='{{key}}'>
                    <div>{{name}}</div>
                    <div class="artist">{{artist}}</div>
                </a>
            </div>
        </li>
    {{/each}}
</ul>