<a class="classroomLink" href="/classrooms/{{ classroom.classroomId }}">
    <h4 class="title">
        {{ classroom.name }}<br><small class="text-muted">({{ language }})</small>
    </h4>
    <div class="songListContainer"></div>
</a>