<div class="panel panel-default" href="/classrooms/{{ classroom.classroomId }}">
    <div class="classroomLink" href="/classrooms/{{ classroom.classroomId }}">
        <h5 class="panel-heading">
            {{ classroom.name }}
        </h5>
        <div class="songListContainer panel-body"></div>
    </div>
</div>