<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Dictionary</h4>
    </div> 
    <div class="panel-body">
        <div class="input-group search">
            <input type="text" class="form-control" placeholder="Word or phrase..." autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Lookup</button>
            </span>
        </div>
        <div class="lookup">
            <span class="text-muted">Click on a word to lookup its definition</span>
        </div>
    </div>
</div>