<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Dictionary</h4>
    </div> 
    <div class="lookup panel-body"><span class="text-muted">Click on a word to lookup its definition</span></div>
</div>