.upload {
    margin: 8px;

    .editContainer {
        margin: 8px;
    }

    .subtitlesContainer {
        width: 360px;
        float: left;
    }
    .translationContainer {
        width: 360px;
        margin-left: 400px;
    }
}