<div class="container">
    <div class="row">
        <div class="editClassroom col-lg-8 col-lg-offset-2">
            <h2 class="">
                <span class="classroomTitle">{{data.name}}</span>
                <input type="text" id="name" class="form-control editClassroomTitle" placeholder="{{data.name}}" value="{{data.name}}" style="display:none;"/>
                <a href="/classrooms/{{data.classroomId}}" class="btn btn-info btn-xs viewClassroom">view</a>
                <a href="/" class="btn btn-info btn-xs deleteClassroom">delete</a>
            </h2>
            <div>
                <label class="">Add Video</label>
                <div class="input-group addSongSection">
                    <input type="text" class="form-control" id="searchSongs" placeholder="Search by artist or title" autocomplete="off">
                    <span class='separatingText'> or </span>
                    <button class="btn btn-primary addNewSong">Add New Video</button>
                    <div class="songSearchListContainer" style="display:none;"></div>
                    <div class="addNewSongModal" style="display:none;">
                        <div class="modal fade in">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close closeAddSongModal" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Create Video</h4>
                                    </div>
                                    <div class="modal-body addNewSongContainer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-backdrop fade in"></div>
                    </div>
                </div>
            </div>
            <h3>Videos <span class="songCount"></span></h3>
            <div class="songListContainer col-lg-8"></div>
        </div>
    </div>
</div>